doctype html
html(lang="en")
  head
    title Homework
  body
      if name
        h2 Hello! #{name}!
        form(action='/clearName' method='post')
          button(type='submit') clear name
      else
        form(action='/trackName', method='get')
          label Please enter your name    
              input(type='text', name='name')
          button(type='submit') Submit